html {
    overflow-y: auto;
}

html.no-scroll {
    overflow-y: hidden;
}

html, body {
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.navbar-burger:hover {
    background-color: transparent;
}

#openedc-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#openedc-title figure {
    width: 72px;
    height: 72px;
    margin-right: 8px;
}

.section {
    padding: 30px 20px;
}

a.panel-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

#clinicaldata-form-title, #clinicaldata-form-title .level-item {
    flex-shrink: 1;
}

#clinicaldata-form-data {
    padding: 20px;
}

#study-title, #mobile-back-button {
    font-weight: 500;
}

#no-subjects-hint {
    padding: 40px;
}

#no-users-hint, #no-sites-hint {
    padding: 30px;
}

.has-no-padding-bottom {
    padding-bottom: 0px !important;
}

.has-no-border-bottom {
    border-bottom: none !important;
}

.has-no-border-left {
    border-left: none !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

.panel-heading {
    font-weight: bold;
}

a.panel-block:hover {
    background-color: transparent;
}

.panel-block.is-active {
    background-color: hsl(0, 0%, 96%) !important;
    border-left: 2px #3273dc solid;
}

.panel-block.has-text-centered p {
    margin: 0 auto;
}

.panel-icon, .panel-block-content, .panel-block-title, .panel-block-subtitle {
    pointer-events: none;
}

.panel-block-subtitle {
    font-size: 12px;
    color: gray;
}

.modal-content.is-large {
    max-width: 600px;
}

.modal-content.is-medium {
    max-width: 400px;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.input {
    min-width: 50px;
}

.tree-panel-blocks {
    overflow-y: auto;
}

.tree-panel-blocks .panel-block {
    border-radius: 0px;
}

.has-light-border-top {
    border-top: 1px solid #ededed;
}

.preview-field {
    margin-bottom: 20px;
}

.preview-field label {
    white-space: pre-line;
}

#clinicaldata-content .subtitle {
    white-space: pre-line;
}

.field.is-fullwidth, .control.is-fullwidth {
    display: flex;
    width: 100%;
}

.field label.radio:not(:last-child) {
    margin-bottom: 5px;
}

.is-clickable {
    cursor: pointer; 
}

.message {
    margin-bottom: 20px;
}

.file-cta {
    background-color: #fff;
    color: #363636;
}

.file-label:hover .file-cta {
    background-color: #fff !important;
    border-color: #b5b5b5;
}

.file-label:hover .file-cta.is-danger {
    background-color: #f03a5f !important;
    border-color: transparent;
    color: #fff;
}

.is-survey-view {
    max-width: 500px;
    margin: 0 auto;
    overflow-y: visible;
    max-height: none !important;
}

.is-highlighted {
    padding: 6px;
    border-radius: 6px;
    background-color: lightsalmon;
}

.level-left.is-centered {
    margin: 0 auto;
}

#audit-records {
    margin-bottom: 1rem;
}

.navbar-brand {
    padding-bottom: 1px;
}

.navbar-start {
    padding-top: 1px;
}

#mobile-back-button {
    padding-bottom: 6px;
}

.width-is-three-quarters {
    width: 75%;
    margin: 0 auto;
}

.width-is-two-thirds {
    width: 66%;
    margin: 0 auto;
}

.numpad {
    max-width: 250px;
    margin: 0 auto;
}

.button.is-large.is-rounded {
    width: 0px;
}

#form-validate-button:not(.is-validated) .icon {
    display: none;
}

@media only screen and (max-width: 768px)  {
    #start-modal .modal-content, #about-modal .modal-content, #survey-code-modal .modal-content {
        max-height: none;
    }

    .width-is-three-quarters, .width-is-two-thirds {
        width: 100%;
    }
}
