html {
    overflow-y: auto;
}

html.no-scroll {
    overflow-y: hidden;
}

.navbar-burger:hover {
    background-color: transparent;
}

.navbar-brand {
    padding-bottom: 1px;
}

.section {
    padding: 30px 20px 0px 20px;
}

a.panel-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

#clinicaldata-form-data {
    padding: 20px;
}

#study-title {
    font-weight: 500;
}

#no-subjects-hint {
    padding: 40px;
}

.has-no-padding-bottom {
    padding-bottom: 0px;
}

.has-no-border-bottom {
    border-bottom: none !important;
}

#sort-subject-select-inner:not(:focus) {
    color: rgba(54,54,54,.3);
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

.panel-heading {
    font-weight: bold;
}

a.panel-block:hover {
    background-color: transparent;
}

.panel-block.is-active {
    background-color: hsl(0, 0%, 96%) !important;
    border-left: 1px #3273dc solid;
}

.panel-icon {
    pointer-events: none;
}

.modal-content.is-large {
    max-width: 600px;
}

.modal-content.is-medium {
    max-width: 400px;
}

.modal-content.is-more-modal {
    min-width: 700px;
    max-width: 700px;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
}

.input {
    min-width: 50px;
}

.tree-panel-blocks {
    overflow-y: auto;
}

.tree-panel-blocks .panel-block {
    border-radius: 0px;
}

.panel-block-add {
    border-top: 1px solid #ededed;
}

#top-level {
    margin-bottom: 15px;
}

.input-has-addons {
    width: 100vw;
}

.preview-field {
    margin-bottom: 20px;
}

.preview-field label {
    white-space: pre-line;
}

#clinicaldata-content .subtitle {
    white-space: pre-line;
}

.field.is-fullwidth, .control.is-fullwidth {
    display: flex;
    width: 100%;
}

.checkbox-button {
    margin-bottom: 12px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 4px !important;
}

.is-clickable {
    cursor: pointer; 
}

.message {
    margin-bottom: 20px;
}

.button.is-static.is-white {
    background-color: white;
    border-color: white;
    color: hsl(0, 0%, 21%);
}

.file {
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.file-cta {
    background-color: #fff;
    color: #363636;
}

.file-cta:hover {
    background-color: #fff !important;
    border-color: #b5b5b5;
}

.is-survey-view {
    max-width: 500px;
    margin: 0 auto;
    overflow-y: visible;
    max-height: none !important;
}

.is-highlighted {
    padding: 6px;
    border-radius: 6px;
    background-color: lightsalmon;
}

.level-left.is-centered {
    margin: 0 auto;
}

#audit-records {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px)  {
    #start-modal .modal-content, #about-modal .modal-content {
        max-height: none;
    }
}
